<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        
        <handlers>
            <add name="PHPViaFastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php-7\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
                
                <rule name="Redirect to http" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" negate="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
            </outboundRules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="Strict-Transport-Security" value="max-age=31536000;includeSubdomains" />
                <add name="Content-Security-Policy" value="default-src https: data: 'unsafe-inline' 'unsafe-eval'" />
                <add name="x-content-type" value="nosniff" />
                <add name="x-xss-protection" value="1; mode=block" />
            </customHeaders>
        </httpProtocol>
        <httpRedirect enabled="false" destination="https://vapt.ezeepea.in" httpResponseStatus="Permanent" />
        <httpErrors errorMode="Custom" defaultResponseMode="Redirect">
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="100" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="https://vapt.ezeepea.in/error.html" responseMode="Redirect" />
            <error statusCode="500" prefixLanguageFilePath="" path="https://vapt.ezeepea.in/error.html" responseMode="Redirect" />
            <error statusCode="500" subStatusCode="100" path="/error_500.asp" responseMode="ExecuteURL" />
            <error statusCode="400" path="https://vapt.ezeepea.in/error.html" responseMode="Redirect" />
            <error statusCode="402" path="https://vapt.ezeepea.in/error.html" responseMode="Redirect" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://vapt.ezeepea.in/error.html" responseMode="Redirect" />
            <error statusCode="401" prefixLanguageFilePath="" path="https://vapt.ezeepea.in/error.html" responseMode="Redirect" />
            <error statusCode="405" prefixLanguageFilePath="" path="https://vapt.ezeepea.in/error.html" responseMode="Redirect" />
            <error statusCode="406" prefixLanguageFilePath="" path="https://vapt.ezeepea.in/error.html" responseMode="Redirect" />
            <error statusCode="412" prefixLanguageFilePath="" path="https://vapt.ezeepea.in/error.html" responseMode="Redirect" />
            <error statusCode="501" prefixLanguageFilePath="" path="https://vapt.ezeepea.in/error.html" responseMode="Redirect" />
            <error statusCode="502" prefixLanguageFilePath="" path="https://vapt.ezeepea.in/error.html" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
    <system.web>

        <!--  <customErrors mode="Off" redirectMode="ResponseRedirect" defaultRedirect="index.php" />-->
        <httpCookies httpOnlyCookies="true" domain="{HTTP_HOST}" />
        <customErrors>
            <error redirect="https://vapt.ezeepea.in/error.html" statusCode="400" />
            <error redirect="https://vapt.ezeepea.in/error.html" statusCode="500" />
            <error redirect="https://vapt.ezeepea.in/error.html" statusCode="404" />
            <error redirect="https://vapt.ezeepea.in/error.html" statusCode="403" />
            <error redirect="https://vapt.ezeepea.in/error.html" statusCode="501" />
            <error redirect="https://vapt.ezeepea.in/error.html" statusCode="502" />
        </customErrors>
		
    </system.web>

</configuration>
